{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "./images/favicon-32x32.png" %}">
    <title>Frontend | TodoApp</title>
    <script defer src="{% static "js/todo.js" %}"></script>
    <script defer src="{% static "js/drag.js" %}"></script>
    <script defer src="{% static "js/theme.js" %}"></script>
    <script defer src="{% static "js/menus.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <main class="column">
        <header class="row">
            <h1 class="text-h1">Todo</h1>
            <button class="theme" id="theme"></button>
        </header>

        <form action="{% url "index" %}" method='post' id="newtodo" class="newtodo">
            {% csrf_token %}
            <div class="newtodo__group row">
                <div class="check"></div>
                <input class="input text-body" type="text" name="todo" id="todo" value="" placeholder="Create a new todo...">
            </div>
        </form>

        <section class="todos" id="todos">
            <section id="todos-container">
                {% if not todos %}
                    <div class="not-todos">
                        You don't hava any TODO yet Xd
                    </div>
                {% else %}
                    {% for todo in todos %}
                        {% include "snippets/todo.html" %}
                    {% endfor %}
                {% endif %}
            </section> 
            <section class="menu row text-menu">
                <div class="left" id='left'></div>
                <article class="filter-menu">
                    <fieldset id='filter' class='row'>
                        <button class="btn text-filter" type="button" state='clicked' id="all" onclick="alltodos()">all</button>
                        <button class="btn text-filter" type="button" state='default' id="active" onclick="actives()">active</button>
                        <button class="btn text-filter" type="button" state='default' id="completed" onclick="completed()">completed</button>
                    </fieldset>
                </article>
                <button type="button" class="clear" id="clear">Clear completed</button>
            </section>                      
        </section>
        
        <div class="drag text-menu">Drag and drop to reorder list</div>
        
    </main>  

  

  {% comment %} <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="#">Your Name Here</a>.
  </div> {% endcomment %}
</body>
</html>


