/* RESET */
*, 
*::before, 
*::after{
    box-sizing: border-box;
    /* outline: 1px solid lime; */
}
 
*{
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100svh;
}
 
img, picture, svg, video, canvas{
    max-width: 100%;
    display: block;
}

@media(prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
        scroll-padding-top: 3rem; /* para separar el punto de stop de la parte superior de la pantalla*/
    }
}
 
@media (prefers-reduced-motion: reduce){
     html:focus-within {
        scroll-behavior: auto;
     }
     *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

/* variables */

:root {

    --clr-bright-blue: hsl(220, 98%, 61%);
    --clr-gradient-star: hsl(192, 100%, 87%);
    --clr-gradient-end: hsl(280, 87%, 65%);    

    --gradient: linear-gradient(90deg, var(--clr-gradient-star), var(--clr-gradient-end));

    font-family: 'Josefin Sans', sans-serif;
    --fs-12: 0.75rem;
    --fs-14: 0.875rem;
    --fs-18: 1.125rem;
    --fs-27: 1.6875rem;
    --fs-40: 2.5rem;

    --fw-400: 400;
    --fw-700: 700;

    --radius-4: 4px;
    --radius-8: 8px;

    /* [ ] 2px dark 1px light */
    /* [ ] box shadow */
    /* [ ] border bg-main color when mobile */
}

.dark {
    --clr-body-bg: hsl(235, 21%, 11%);
    --clr-todo-bg: hsl(235, 24%, 19%);

    --clr-text-title: #FFFFFF;
    --clr-text-body: hsl(234, 39%, 85%);
    --clr-text-menu: hsl(234, 11%, 52%);
    --clr-text-filter: hsl(234, 11%, 52%);  
    --clr-text-filter-hover: #FFFFFF;

    --clr-divider: hsl(233, 14%, 35%);

    --bg-img: url(../img/bg-desktop-dark.jpg);
    --icon: url(../img/icon-sun.svg);
}

.light {
    --clr-body-bg: hsl(236, 33%, 92%);
    --clr-todo-bg: hsl(0, 0%, 98%);

    --clr-text-title: #FFFFFF;
    --clr-text-body: hsl(235, 19%, 35%);
    --clr-text-menu: hsl(236, 9%, 61%);
    --clr-text-filter: hsl(236, 9%, 61%);  
    --clr-text-filter-hover: hsl(235, 19%, 35%);

    --clr-divider: hsl(233, 11%, 84%);    

    --bg-img: url(../img/bg-desktop-light.jpg);
    --icon: url(../img/icon-moon.svg);
}

/* typography classes */
.text-h1 {
    font-size: var(--fs-40);
    font-weight: var(--fw-700);
    text-transform: uppercase;
    letter-spacing: 0.37em;
    color: var(--clr-text-title);
}

.text-body {
    font-size: var(--fs-18);
    font-weight: var(--fw-400);
    letter-spacing: -0.015em;    
    color: var(--clr-text-body);
}

.text-menu {
    font-size: var(--fs-14);
    font-weight: var(--fw-400);
    color: var(--clr-text-menu);
}

.text-filter {
    font-size: var(--fs-14);
    font-weight: var(--fw-700);
    color: var(--clr-text-filter);
    text-transform: capitalize;
}

/* utility classes */
.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.hidden {
    display: none;
}


/* component */
.todo {
    --_border-color: var(--border-color, var(--clr-divider));
    width: 100%;
    padding-block: 1.25rem 1.125rem;
    padding-inline: 1.4375rem;
    background-color: var(--clr-todo-bg);
    border-bottom: 2px solid var(--clr-divider);
    gap: 1.5rem;
    align-items: center;

    &:hover {
        cursor: pointer;
        
        .delete {
            display: block;

            img {
                filter: brightness(0) saturate(100%) invert(53%) sepia(16%) saturate(468%) hue-rotate(196deg) brightness(87%) contrast(86%);
            }            
        }
    }

    .check-border {
        width: 25px;
        height: 25px;
        background: var(--_border-color);
        display: grid;
        place-content: center;
        border-radius: 50%;

        &:hover {
            background: var(--gradient);
        }

        &[checked] {
            background: var(--gradient);
        }
    }

    .check {        
        width: 21px;
        height: 21px;
        border-radius: 50%;
        background-color: var(--clr-todo-bg);  

       
        &[checked] {
            background: var(--gradient);
            background-image: url(../img/icon-check.svg);
            background-position: center;
            background-repeat: no-repeat;
        }   
        
    }

    .task {
        width: 100%;

        &::first-letter {
            text-transform: capitalize;
        }
    }

    &.is-dragging * {
        opacity: 0;
    }
}


/* ============== */


body {
    display: grid;
    place-content: center;
    background-color: var(--clr-body-bg);
}

body::before {
    width: 100%;
    height: 300px;
    position: absolute;
    content: "";
    background-image: var(--bg-img);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

main {
    gap: 1.5rem;
    padding-block: 2.5rem;
    padding-inline: 2.5rem;
    width: min(38.75rem, 100vw);
}

header {
    padding-block: 0.5rem 0.8125rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    .theme {
        border: none;
        height: 26px;
        width: 26px;
        background: var(--icon) no-repeat;
        cursor: pointer;        
    }
}


.newtodo {
    width: 100%;
    padding-block: 1.25rem 1.125rem;
    padding-inline: 1.4375rem;
    background-color: var(--clr-todo-bg);
    border-radius: var(--radius-4);

    .newtodo__group {
        gap: 1.5rem;

        .check {
            width: 25px;
            height: 25px;
            border: 2px solid var(--clr-divider);
            border-radius: 50%;
        }

        .input {
            appearance: none;
            width: 100%;
            border: none;
            background-color: var(--clr-todo-bg);

            &::placeholder {
                color: var(--clr-text-menu);
            }

            &:focus, 
            &:active,
            &:valid {
                outline: none;
                background-color: transparent;
            }
        }     
    }
}

.todos {
    border-radius: var(--radius-4);

    .not-todos {
        width: 100%;
        height: 130px;
        display: grid;
        place-content: center;
        background-color: var(--clr-todo-bg);
        color: var(--clr-text-menu);
        border-bottom: 2px solid var(--clr-divider);
    }

    .menu {
        padding-block: 1.125rem;
        padding-inline: 1.5rem;        
        background-color: var(--clr-todo-bg);
        justify-content: space-between;

        
    }

    .filter-menu {                
        background-color: var(--clr-todo-bg);              

        fieldset {
            border: none;
            gap: 1.25rem;  

            .btn {
                appearance: none;
                border: none;
                background-color: transparent;      
            }

            .btn:hover{
                color: var(--clr-text-filter-hover);
                cursor: pointer;
            }

            .btn[state="clicked"] {
                color: var(--clr-bright-blue);
            }
        }  
    }

    .clear {
        border: none;
        background-color: transparent;
        color: var(--clr-text-menu);

        &:hover {
            color: var(--clr-text-body);
        }
    }
    
}

.drag {
    width: 100%;
    padding-top: 1.75rem;
    text-align: center;
}


@media (max-width: 40rem) {

    :root{
        --bg-img: url(../img/bg-mobile-dark.jpg);
    }

    /* typography classes */
    .text-h1 {
        font-size: var(--fs-27);
    }

    .text-body {
        font-size: var(--fs-12);
    }

    .text-menu {
        font-size: var(--fs-12);
        letter-spacing: -0.015em;   
    }


    /* components */

    .todo {
        padding-block: 1rem;
        padding-inline: 1.25rem;
        gap: 0.75rem;
    
        .check-border {
            width: 20px;
            height: 20px;
        }
    
        .check {        
            width: 16px;
            height: 16px;
        }
    }    
    
    /* ============== */

    body {
        place-content: start;
    }
    
    body::before {
        height: 200px;
        background-image: var(--bg-img);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }
    
    main {
        gap: 1rem;
        padding-block: 2.5rem;
        padding-inline: 1.5rem;
        width: 100vw;
    }  
    
    .newtodo {
        padding-block: 1rem;
        padding-inline: 1.25rem;
    
        .newtodo__group {
            gap: 0.75rem;
    
            .check {
                width: 20px;
                height: 20px;
            }
        }
    }
    
    .menu {
      position: relative;

      .filter-menu {
        position: absolute;
        left: 0;
        top: calc(100% + 1rem);
        width: 100%;
        height: 100%;

        fieldset {
            height: 100%;
            justify-content: center;
            gap: 3rem;
            align-items: center;
        }        
      }      
    }

    .drag {
        margin-top: calc(2rem + 28px);
      }
  }

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* [ ] afinar maquetado con figma */